[project]
name = "job-tracker"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14.0"
dependencies = [
    "django>=6.0.1",
    "gunicorn>=23.0.0",
    "whitenoise>=6.11.0",
]
